
<div class="row dropdown-div">
	<div class="col-md-8"></div>
	<form name="existForm" novalidate>
		<div class="form-group col-md-2">
			<label class="control-label fonts-color" for="containerName">Container</label>
			<select id="containerName" name="selectContainerName"
				class="form-control" ng-model="selectedContainerId"
				ng-change="changeContainerValue(selectedContainerId, selectedContainerVersion)">
				<option value="" disabled selected>Please Select</option>
				<option ng-repeat="ct in containerIdVersionArray"
					value="{{ct.containerId}}">{{ct.containerName}}</option>
			</select>
		</div>
		<div class="form-group col-md-2">
			<label class="control-label fonts-color" for="versionName">Version</label>
			<select id="versionName" name="selectVersionName"
				class="form-control" ng-model="selectedContainerVersion"
				ng-change="changeContainerValue(selectedContainerId, selectedContainerVersion)">
				<option value="" disabled selected>Please Select</option>
				<option ng-repeat="v in selectedItem[0].versions" value="{{v}}">{{v}}</option>
			</select>
			<!-- <span class="error" ng-show="existForm.selectVersionName.$error.required">Please Select Version</span> -->
		</div>
	</form>
	<!-- <div class="col-md-1">
			 	 <button type="button" ng-disabled="!existForm.$valid" class="btn btn-primary">>></button>
			 </div> -->
</div>


